form {
}

label {
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input:not([type="radio"]) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  outline: 1px solid #cfcfcf;
  border-radius: 9px;
  margin-top: 0.3rem;
  font-weight: 400;
}

input:not([type="radio"]):focus {
  outline: 1px solid orange;
}
