.navbar {
  display: flex;
  justify-content: space-between;
  /*background-color: coral;*/
}

.navbar svg path {
  /*width: 25px;*/
  fill: black;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
